body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 30px;
    
}

.sections{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    display:flex;
}

.orange{
    color:chocolate
}
.blog{
    text-align: justify;
}

.half-width{
    padding: 5%;

}
.half-width img{
    margin-top: 100px;
    width: 420px;
    height: auto;
}

.button{
    text-decoration: none;
    background-image: linear-gradient(orange,brown);
    border: 2px solid orange;
    border-radius: 10px;
    padding: 10px 40px;
    font-size: 20px;
    color: white;
    font-weight: 700;
    
}

.dream{
    padding: 10px 100px;
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.div2{
    padding:5%;

}

.div2 img{
    margin-top: 100px;
    width: 420px;
    height: auto;
}

.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: 10px;
    display : flex;
    padding: 20px;
}

.div{
    box-shadow: 10px 10px 100px gray;
    padding: 5%;
    margin-left: 5%;
    margin-right: 3%;
    width: 40%;
    background: rgba (255, 255, 255,.2); 
    backdrop-filter: blur (10px);
    border-radius: 15px

}

.border{
    border-left: 10px solid orange;
}

.border2{
    border-left: 10px solid blue;
}