body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
}

.sections{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    display:flex;
}

.orange{
    color:chocolate
}
.blog{
    text-align: justify;
}

.half-width{
    padding: 5%;
}
.half-width img{
    margin-top: 100px;
    width: 420px;
    height: auto;
}

.button{
    text-decoration: none;
    background-image: linear-gradient(orange,brown);
    border: 2px solid orange;
    border-radius: 10px;
    padding: 10px 40px;
    font-size: 20px;
    color: white;
    font-weight: 700;
    
}

.dream{
    padding: 10px 100px;
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
}

.div2{
    padding:5%;

}

.div2 img{
    margin-top: 100px;
    width: 420px;
    height: auto;
}